*{
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    padding-bottom: 2000px;
}
.header{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 14px rgba(0,0,0,0.8);
    z-index: 10;
}

.title{
    margin:20px;
    font-size: 30px;
    font-weight: bold;
}
.sub-title{
    font-size: 20px;
    margin:5px;
}
.bottom-header{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
}
.pages{
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(60, 72, 88);
    display:inline-block;

}
.pages:hover{
    cursor: pointer;
}
.pages::after{
    transition: ease-in-out .3s;
    content: "";
    display: block;
    border-bottom: 2px rgb(16, 151, 196) solid;
    width: 0;
}
.pages:hover::after{
    border-bottom: 2px rgb(16, 151, 196) solid;
    width: 100%;
}
.background-image{
    position: fixed;
    width: 100%;
}

.footer{
    z-index: 9;
    background-color: rgb(44, 108, 159);
    position: absolute;
    bottom: 10px;
    height: 700px;
    text-align: center;
}
.footer-title{
    font-size: 46px;
    margin-bottom: 15px;
    color: white;
}
.footer-text{
    color:white;
    padding-left: 140px;
    padding-right: 140px;
    line-height: 25px;
    font-size: 15px;
}